@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Yash Mistry's Car Rentals</h1>
    <p>Mob no: +1 (911) 619 6199, Address: Kyoto St, Waterloo, ON, N2L 3V8</a>.</p>

    @* Car list in flex-box *@
    <div class="d-flex justify-content-around">
        <div class="card ">
            <div class="card-body">
                <h5 class="card-title">@Model.car1_Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">@Model.car1_Model</h6>
                <a href="@Model.car1_Website" target="_blank" class="card-link">Check Now</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.car2_Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">@Model.car2_Model</h6>
                <a href="@Model.car2_Website" target="_blank" class="card-link">Check Now</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.car3_Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">@Model.car3_Model</h6>
                <a href="@Model.car3_Website" target="_blank" class="card-link">Check Now</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.car4_Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">@Model.car4_Model</h6>
                <a href="@Model.car4_Website" target="_blank" class="card-link">Check Now</a>
            </div>
        </div>
    </div>
    <br><br><br>
    <div>
        <form method="post" class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Reserve a Car</button>
        </form>
    </div>
</div>
